<template>
  <div id="GameOver">
    <div id="title-container">
      <h1>Your total score: {{score}}</h1>
      <router-link :to="'../'">
        <v-btn large dark class="button">Play again</v-btn>
      </router-link>
    </div>
    <QuizResults v-bind:results="results" v-bind:questions="questions" />
  </div>
</template>

<script>
import QuizResults from "./QuizResults";
export default {
  name: "GameOver",
  props: ["score", "results", "questions"],
  components: {
    QuizResults
  },
  data: function() {
    return {};
  },
  created() {}
};
</script>

<style>
</style>