<template>
  <div id="GamePlay">
    <div id="main-container">
      <div id="header-div">
        <h1>Question {{currentQuestion + 1}} / {{qamount}}</h1>
      </div>
      <div id="card-container">
        <QuizQuestion
          v-if="gameon == true"
          v-on:question-answered="questionAnswered"
          v-bind:questions="questions.results[currentQuestion]"
        />
        <GameOver v-if="gameon == false" v-bind:results="results" v-bind:score="score" v-bind:questions="questions"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import QuizQuestion from "./QuizQuestion";
import GameOver from "./GameOver";

export default {
  name: "GamePlay",
  props: ["qamount", "questions", "results"],
  components: {
    QuizQuestion,
    GameOver
  },
  data: function() {
    return {
      currentQuestion: 0,
      score: 0,
      answers: [],
      resultObjectArray: [],
      gameon: true
    };
  },
  methods: {
    questionAnswered: function(quizAnswer) {
      if (this.currentQuestion != this.qamount) {
        this.answers.push(quizAnswer);
        if (this.currentQuestion + 1 != this.qamount) {
          this.currentQuestion++;
        } else {
          this.tallyUp();
          this.gameon = false
        }
      }
    },
    tallyUp: function() {
      for (let i = 0; i < this.answers.length; i++) {
        if (this.answers[i] == this.questions.results[i].correct_answer) {
          this.score += 10;
        }
        let resultobject = {
          correct_answer: this.questions.results[i].correct_answer,
          your_answer: this.answers[i]
        };
        this.resultObjectArray.push(resultobject);
      }
      this.results = this.resultObjectArray;
    }
  },
  created() {
    axios
      .get(`https://opentdb.com/api.php?amount=${this.qamount}`)
      .then(response => {
        this.questions = response.data;
      });
  }
};
</script>

<style>
html {
}
#main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#card-container {
  margin: auto;
}
#header-div {
  margin: auto;
}
</style>