<template>
  <div id="GameMenu">
    <div id="main-container">
      <div id="title-container">
        <h1>Welcome to this super super awesome trivia game</h1>
        <img src="../assets/brain.gif" alt />
      </div>

      <div id="slider-container">
        <h3>Select the amount of questions</h3>
        <v-slider
          color="#000000"
          min="10"
          max="20"
          v-model="qamount"
          thumb-label="Amount of Questions"
        ></v-slider>
      </div>

      <router-link :to="'GamePlay/' + qamount">
        <v-btn large dark class="button">Start the game</v-btn>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameMenu",
  data: function() {
    return {
      qamount: 10
    };
  }
};
</script>

<style>
html {
}
#main-container {
  width: ex;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#slider-container {
  width: 50%;
  margin:auto;
  margin-top: 5%;
}
.button {
  margin-bottom: 15%;
}
h1 {
  margin: 5% 0 2.5% 0;
}
body {
  background: #bfffe6;
}
img {
  width: em;
}
v-slider {
  width: 50%;
}
</style>