<template>
  <div id="QuizResults">
    <div id="answer-card-container">
      <v-container >
        <v-col>
          <v-row v-for="n in 1" :key="n">
            <v-card max-width="500" outlined shaped v-for="(item, index) in results" :key="index">
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="overline mb-4">{{questions.results[index].question}}</div>
                  <v-list-item-title class="headline mb-1">Your answer: {{item.your_answer}}</v-list-item-title>
                  <v-list-item-subtitle>Correct answer: {{item.correct_answer}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-row>
        </v-col>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  name: "QuizResults",
  props: ["results", "questions"],
  data: function() {
    return {};
  },
  created() {
    console.log(this.results);
  }
};
</script>

<style>
.overline {
  font-weight: 700;
}
#answer-card-container {
  margin: auto;
  width: 50%;
}
</style>