<template>
  <div id="QuizQuestion">
    <div id="main-container">
      <div id="card-container">
        <v-card class="mx-auto" max-width="500" outlined shaped>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">Category: {{questions.category}}</div>
              <v-list-item-title class="headline mb-1">Difficulty: {{questions.difficulty}}</v-list-item-title>
              <v-list-item-subtitle>{{questions.question}}</v-list-item-subtitle>

              <v-btn
                block
                dark
                v-on:click="$emit('question-answered', questions.correct_answer)"
              >{{questions.correct_answer}}</v-btn>
              <v-btn block dark v-on:click="$emit('question-answered', item)" v-for="item in questions.incorrect_answers" :key="item">{{item}}</v-btn>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "QuizQuestion",
  props: ["questions"],
  data: function() {
    return {};
  },
  created() {
    //this.questions.question = this.questions.question.replace(/&quot;/g, '"');
    //this.questions.question = this.questions.question.replace(/&#039;/g, "'");
  }
};
</script>

<style>
</style>